@font-face {
	font-family: cbx-rounded;
	src: url("../font/cbx-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: cbx-rounded;
	src: url("../font/cbx-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: cbx-rounded;
	src: url("../font/cbx-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-variant-ligatures: common-ligatures;
	-webkit-font-smoothing: antialiased;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

html,
body,
div,
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: cbx-rounded, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

.overlay {
	background: rgba(144, 144, 144, 0.98);
	display: flex;
	flex-direction: column;
	padding-bottom: 4%;
	padding-top: 2%;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
}

.content-wrapper {
	height: 608px;
	width: 360px;
	margin: auto;
	border-radius: 8px;
	color: #111111;
	background: #fff;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	opacity: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-header {
	margin-top: 40px;
	padding: 0 3.2rem;
	width: 100%;
}

.logo-wrapper {
	height: 52px;
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
}

.header-logo {
	border-radius: 100%;
	height: 52px;
	width: 52px;
}

.app-logo {
	border: 2px solid rgba(255, 255, 255, 0);
	z-index: 1;
}

.pld-logo {
	border: 2px solid #fff;
	margin-left: -10px;
	z-index: 2;
}

.content-title {
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 3.2rem;
	letter-spacing: -0.3px;
	text-align: center;
	margin-bottom: 1.6rem;
}

.content-title strong {
	font-weight: 600;
}

.content-checklist {
	margin: 0;
	padding: 0;
}

.content-checklist-row {
	display: inline-grid;
	grid-gap: 0.8rem;
	grid-template-columns: 2.4rem auto;
}

.checklist-icon {
	color: #111;
	width: 2.4rem;
	height: 2.4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.checklist-primary-text {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.4rem;
	margin: 0;
}

.checklist-secondary-text {
	color: #383838;
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 2.4rem;
	margin-left: 0;
	margin-top: 0.4rem;
}

.content-divider {
	background-color: #ededed;
	height: 1px;
	margin-bottom: 0.4rem;
	width: 100%;
}

.content-actions {
	padding: 0 3.2rem 3.2rem;
}

.actions-fineprint {
	color: #555555;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
	margin: 0.8rem 0.8rem 1.2rem 0.8rem;
}

.actions-fineprint button {
	font-weight: 600;
	color: #555555;
	display: inline-block;
	font-size: inherit;
	font-family: inherit;
	height: unset;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	width: auto;
	background: transparent;
	border: none;
	text-align: center;
	cursor: pointer;
}

.actions-fineprint button:hover {
	color: #0072cf;
}

.actions-fineprint button:active {
	color: #0061b3;
}

.actions-continue {
	font-weight: 600;
	height: 5.6rem;
	font-size: 2rem;
	font-family: inherit;
	text-align: center;
	width: 100%;
	background: #111;
	color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0);
	line-height: 2.4rem;
  cursor: pointer;
}

.actions-continue:hover {
	background: #0072cf;
}

.actions-continue:active {
	background: #0061b3;
}

.actions-continue.disabled {
	background: #767676;
	cursor: not-allowed;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.8rem;
}

.nav-header img {
	height: 48px;
	width: 63px;
}

.login {
	justify-content: start;
}

.login .content-header {
	margin: 0;
}

.login .logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	min-height: 12rem;
	padding: 3.2rem;
	padding-left: 0;
	margin: 0;
}

.login .content-title {
	text-align: left;
	font-weight: 800;
	margin: 0;
	margin-bottom: 0.8rem;
}

.login .content-header p {
	color: #383838;
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: 0;
	margin-bottom: 2.4rem;
}

.login .input-wrapper {
	margin-bottom: 1.6rem;
	min-height: 5.6rem;
	border: 0;
	position: relative;
	width: 100%;
	padding: 0 3.2rem;
	-webkit-margin-start: 0;
	margin-inline-start: 0;
	-webkit-margin-end: 0;
	margin-inline-end: 0;
	font-weight: normal;
}

.login .base-input {
	padding-right: 6.4rem;
	height: 5.6rem;
	font-size: 2rem;
	background-color: white;
	border-radius: 0.2rem;
	border: 1px solid #767676;
	font-family: cbx-rounded, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	line-height: 4.8rem;
	opacity: 1;
	padding: 0 1.6rem;
	width: 100%;
	color: var(--color-text-default-contrast);
}

.login .base-input::placeholder {
  color: #555555;
  font-weight: 500;
}

.login .base-input:focus {
  border-color: #0072cf;
  outline: none;
}

.login .error .base-input {
  border-color: #f44e66;
}

.login .error .base-input::placeholder {
  color: #f44e66;
}

.login .input-icon-wrapper {
  position: absolute;
  top: 1.6rem;
  right: 4.5rem;
  padding-left: 3.2rem;
  display: flex;
  align-items: center;
}

.login #emailPassForm .input-icon-wrapper {
	top: 6.3rem;
}

.login .input-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.login .pld-email-addr {
	color: #383838;
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: 0;
	margin-bottom: 2.4rem;
	padding-left: 1rem;
	border-left: 3px solid #111;
}

.hide {
	display: none;
}