body {
	margin: 0;
	padding: 0;
}
header {
	background: white url("../img/hero-header.png") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-top: 13.8724%;
}
@media (max-width: 1024px) {
	header {
		background: white url("../img/hero-header-1024.png") no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-top: 18.5075%;
	}
}
@media (max-width: 768px) {
	header {
		background: white url("../img/hero-header-768.png") no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-top: 23.231%;
	}
}
@media (max-width: 480px) {
	header {
		background: white url("../img/hero-header-480.png") no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-top: 33.5498%;
	}
}
footer {
	background: white url("../img/hero-footer.png") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-top: 39.2884%;
}
@media (max-width: 1024px) {
	footer {
		background: white url("../img/hero-footer-1024.png") no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-top: 52.6839%;
	}
}
@media (max-width: 768px) {
	footer {
		background: white url("../img/hero-footer-768.png") no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-top: 87.1829%;
	}
}
@media (max-width: 480px) {
	footer {
		background: white url("../img/hero-footer-480.png") no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-top: 70.3817%;
	}
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin-italic.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin-italic.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin-italic.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin-italic.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	font-display: swap;
	src: url("../fonts/gfont-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
html,
body {
	height: 100%;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	font-size: 100%;
}
body {
	background: #fff;
	color: #222;
	cursor: auto;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	position: relative;
}
a:hover {
	cursor: pointer;
}
.right {
	float: right !important;
}
.row {
	margin: 0 auto;
	max-width: 75rem;
	width: 100%;
}
.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.row .row {
	margin: 0 -0.9375rem;
	max-width: none;
	width: auto;
}
.row .row:before,
.row .row:after {
	content: " ";
	display: table;
}
.row .row:after {
	clear: both;
}
.column,
.columns {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
	float: left;
}
.column + .column:last-child,
.columns + .columns:last-child {
	float: right;
}
@media only screen {
	.column,
	.columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.small-2 {
		width: 16.66667%;
	}
	.small-10 {
		width: 83.33333%;
	}
}
@media only screen and (min-width: 40.0625em) {
	.column,
	.columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.medium-6 {
		width: 50%;
	}
}
@media only screen and (min-width: 48em) {
	.column,
	.columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.large-1 {
		width: 8.33333%;
	}
	.large-6 {
		width: 50%;
	}
	.large-11 {
		width: 91.66667%;
	}
	.large-12 {
		width: 100%;
	}
}
button,
.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 1.25rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0.75em 1.5em 0.8125em 1.5em;
	font-size: 1rem;
	background-color: #008cba;
	border-color: #007095;
	color: #fff;
	transition: background-color 300ms ease-out;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: #007095;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	color: #fff;
}
.button.radius {
	border-radius: 3px;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
@media only screen and (min-width: 40.0625em) {
	button,
	.button {
		display: inline-block;
	}
}
form {
	margin: 0 0 1rem;
}
label {
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}
input[type="text"],
input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 0.875rem;
	height: 2.3125rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.15s linear, background 0.15s linear;
	-moz-transition: border-color 0.15s linear, background 0.15s linear;
	-ms-transition: border-color 0.15s linear, background 0.15s linear;
	-o-transition: border-color 0.15s linear, background 0.15s linear;
	transition: border-color 0.15s linear, background 0.15s linear;
}
input[type="text"]:focus,
input[type="password"]:focus {
	background: #fafafa;
	border-color: #999;
	outline: 0;
}
input[type="text"]:disabled,
input[type="password"]:disabled {
	background-color: #ddd;
	cursor: default;
}
input[type="text"].radius,
input[type="password"].radius {
	border-radius: 3px;
}
::-webkit-input-placeholder {
	color: #666;
}
:-moz-placeholder {
	color: #666;
}
::-moz-placeholder {
	color: #666;
}
:-ms-input-placeholder {
	color: #666;
}
fieldset {
	border: 1px solid #ddd;
	margin: 1.125rem 0;
	padding: 1.25rem;
}
fieldset legend {
	font-weight: bold;
	margin: 0;
	margin-left: -0.1875rem;
	padding: 0 0.1875rem;
}
.error input {
	margin-bottom: 0;
}
.error label {
	color: #c60f13;
}
.tabs-content {
	margin-bottom: 1.5rem;
	width: 100%;
}
.tabs-content:before,
.tabs-content:after {
	content: " ";
	display: table;
}
.tabs-content:after {
	clear: both;
}
.tabs-content > .content {
	display: none;
	float: left;
	padding: 0.9375rem 0;
	width: 100%;
}
.tabs-content > .content.active {
	display: block;
	float: none;
}
div,
h3,
form,
p {
	margin: 0;
	padding: 0;
}
a {
	color: #008cba;
	line-height: inherit;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #0078a0;
}
p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
}
h3 {
	color: #222;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	margin-top: 0.2rem;
	text-rendering: optimizeLegibility;
}
h3 {
	font-size: 1.375rem;
}
i {
	font-style: italic;
	line-height: inherit;
}
@media only screen and (min-width: 40.0625em) {
	h3 {
		line-height: 1.4;
	}
	h3 {
		font-size: 1.6875rem;
	}
}
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	@page {
		margin: 0.34in;
	}
	p,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h3 {
		page-break-after: avoid;
	}
}
.off-canvas-wrap {
	-webkit-backface-visibility: hidden;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.inner-wrap {
	position: relative;
	width: 100%;
	-webkit-transition: -webkit-transform 500ms ease;
	-moz-transition: -moz-transform 500ms ease;
	-ms-transition: -ms-transform 500ms ease;
	-o-transition: -o-transform 500ms ease;
	transition: transform 500ms ease;
}
.inner-wrap:before,
.inner-wrap:after {
	content: " ";
	display: table;
}
.inner-wrap:after {
	clear: both;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
main {
	display: block;
}
a {
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}
button,
input {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
button {
	-webkit-appearance: button;
	cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}

.reg-content .tabs-content {
	margin-bottom: 0;
}
.reg-content .tabs-content .content {
	padding-top: 0;
	padding-bottom: 0;
}
.alert-msg {
	padding: 10px 0 3px;
	position: relative;
	background: #c60f13;
}
.alert-msg h3 {
	color: #fff;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	font-weight: 400;
}
.message-close-container {
	text-align: right;
	padding-top: 6px;
}
.message-close {
	color: #fff;
	font-size: 1.7rem;
	cursor: pointer;
}
.message-close:hover {
	color: #fff;
}
@font-face {
	font-display: swap;
	font-family: "icomoon";
	src: url("../fonts/icomoon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
.icon3-ln-cancel:before {
	font-family: "icomoon";
	content: "î˜";
	font-style: normal;
}
body,
p,
h3,
label {
	font-weight: 300;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
}
input:not(.mitek-input) {
	height: 32px !important;
}
input[type="text"],
input[type="password"],
button,
.button {
	font-weight: 300 !important;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
	outline: 0;
}
a:focus,
*:focus {
	outline: 0;
}
::-webkit-input-placeholder {
	color: #666;
}
:-moz-placeholder {
	color: #666;
}
::-moz-placeholder {
	color: #666;
}
:-ms-input-placeholder {
	color: #666;
}
button,
.button {
	background-color: #076191;
	border-color: #00456a;
	color: #fff;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: #00456a;
}
.error input {
	border-color: #c60f13;
	margin-bottom: 1rem;
}
fieldset legend {
	font-weight: 300;
	font-size: 24px;
}
html {
	-webkit-text-size-adjust: 100%;
}
.note {
	display: inline-block;
	font-size: 0.8rem !important;
	line-height: 1rem;
}
.main-content-area {
	margin-top: 30px;
}
.main-content-area p:not("#identification-description") {
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 1.5rem;
}
@media print {
	@page {
		size: auto;
		margin: 1cm 0.5cm;
	}
	a:after {
		content: "";
	}
	a[href]:after {
		content: none !important;
	}
}
.form-field-label {
	display: inline-block;
	padding-bottom: 2px;
	font-weight: 500;
}
input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
fieldset {
	border: solid 1px #ddd;
	padding: 1.25rem;
	margin: 1.125em 0;
}
.message-close-container {
	padding-top: 0;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
button {
	margin-right: 15px;
}

body,
p,
h3,
label {
	font-weight: 400;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
}
input {
	height: 32px !important;
}
input[type="text"],
input[type="password"],
button,
.button {
	font-weight: 300 !important;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
	outline: 0;
}
a:focus,
*:focus {
	outline: 0;
}
::-webkit-input-placeholder {
	color: #666;
}
:-moz-placeholder {
	color: #666;
}
::-moz-placeholder {
	color: #666;
}
:-ms-input-placeholder {
	color: #666;
}
button,
.button {
	background-color: #076191;
	border-color: #00456a;
	color: #fff;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: #00456a;
}
.error input {
	border-color: #c60f13;
	margin-bottom: 1rem;
}
html {
	-webkit-text-size-adjust: 100%;
}
.note {
	display: inline-block;
	font-size: 0.8rem !important;
	line-height: 1rem;
}
body {
	font-family: "Open Sans", sans-serif;
}
@media only screen and (min-width: 769px) {
	.large-6 {
		width: 50%;
	}
}
.reg-content {
	margin-bottom: 1rem;
	margin-top: 2.2rem;
}

.PrePayCalculator .InputBase__input:hover:not(:focus) {
	border: 1px solid #767676;
}
div.hero-info.middle > div.hero-media > {
	display: inline-block !important;
}
.button.radius {
	margin-bottom: 0;
	position: relative;
	bottom: 0;
	font-size: 1rem;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1.0625rem;
	padding-left: 2rem;
}
.button.radius {
	margin-bottom: 20px;
}
.reg-content .tabs-content {
	margin-bottom: 0;
}
.reg-content .tabs-content .content {
	padding-top: 0;
	padding-bottom: 0;
}
.button.radius {
	margin-bottom: 20px;
}
.reg-content .tabs-content {
	margin-bottom: 0;
}
.reg-content .tabs-content .content {
	padding-top: 0;
	padding-bottom: 0;
}
.cb-form .description {
	margin-bottom: 1.5rem;
}
.cb-form .reg-content {
	margin-top: 0.6rem;
}
.button.radius {
	margin-bottom: 20px;
}
.cb-form fieldset legend {
	margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
	form.cb-form fieldset div.large-6.medium-6.medium-6-override {
		width: 100% !important;
	}
}
button[disabled],
.button[disabled] {
	background-color: rgb(0, 140, 186);
	color: rgb(255, 255, 255);
	box-shadow: none;
	cursor: default;
	opacity: 0.7;
	border-color: rgb(0, 112, 149);
}
.error input[type="text"]:focus, input[type="password"]:focus {
    border-color: #c60f13;
}