* {
	box-sizing: border-box;
}
html {
	margin: 0;
	height: 100%;
}
body {
	font-family: "Open Sans";
	font-size: 13px;
	background-color: #D6D6D6;
	height: 100%;
	padding: 0;
	margin: 0;
}
.wrapper {
	background-color: #fff;
	color: #fff;
	padding: 0;
	margin: 0 auto;
	border: 1px solid #004f39;
	width: 960px;
	max-width: 960px;
}
.header {
	display: flex;
	align-items: center;
	background-color: #004f39;
	width: 100%;
	padding-left: 15px;
	height: 112px;
}
.cb-logo-container img {
	width: 125px;
}
.cb-logo-small {
	display: none;
}
@media screen and (max-width: 900px) {
	.mobile-header {
		justify-content: center;
		position: fixed;
		top: 0;
    padding: 15px 0;
    z-index: 1000;
    max-height: 56px;
	}
	.cb-logo {
		display: none;
	}
	.cb-logo-small {
		display: block;
	}
	.main {
		margin-top: 50px;
	}
}
@media screen and (min-width: 800px) {
	.cb-complete {
		display: flex;
		justify-content: center;
	}
}
.cb-title {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 200;
	padding: 0 0 0 10px;
	margin: 0;
}
.main {
	color: #666;
	padding: 10px;
}
.form-container {
	min-height: 400px;
}
.form-heading {
	color: #004f39;
	font-size: 20px;
	font-family: Open Sans;
}
.form-sub-text {
	font-size: 13px;
	margin-top: 5px;
}
.form-error {
	max-width: 200px;
	border: 1px solid #ddbbbb;
	padding: 5px;
	line-height: 20px;
}
.form-control {
	font-family: "Open Sans";
	border: 1px solid #e6e6e6;
	font-size: 13px;
	width: auto;
	padding: 6px;
	margin-top: 6px;

}
.submit-btn {
	background-color: #fff;
	border: 1px solid #333333;
	font-weight: bold;
	margin-top: 6px;
	padding: 6px;
	cursor: pointer;
}
.submit-btn:hover {
	background-color: #333333;
	color: #fff;
}
div.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 15px;
	margin: 0px;
	border-top: 1px solid #004f39;
}
.footer-text {
	color: #000;
	width: 80%;
	font-family: myriad pro, Arial, sans-serif;
}
.footer-text p {
	margin: 0;
}
.footer-text a {
	color: #003300;
}
.footer-text .copyright {
	margin-top: 10px;
}
